<div class="category_product_card">
  <div class="category_product_card_content">
    <%= @category_data.name %>
    <span class="category_product_card_destroy <%= @category_data.id %>">
      X
    </span>
  </div>
</div>
