<div class="breadcrumb_dress">
  <div class="container">
    <ul>
      <li><a href="/"><span class="fa fa-home"
              aria-hidden="true"></span>
              <%= t("layouts.mail.breadcumb.home") %>
            </a> <i>/</i></li>
          <li><%= t("layouts.mail.breadcumb.about") %></li>
    </ul>
  </div>
</div>
