<div class="mail">
  <div class="container">
    <h3>Mail Us</h3>
    <div class="agile_mail_grids">
      <div class="col-md-5 contact-left">
        <h4>Address</h4>
        <p>F Home
          <span>Da Nang City</span></p>
        <ul>
          <li>Telephone : 0935722714</li>
          <li><a href="mailto:huynguyennbk@gmail.com">huynguyennbk@gmail.com</a></li>
        </ul>
      </div>
      <div class="col-md-7 contact-left">
        <h4>Contact Form</h4>
        <form action="#" method="post">
          <input type="text" name="Name" value="Name"
            onfocus="this.value = '';" onblur="if (this.value == '')
            {this.value = 'Name';}" required="">
          <input type="email" name="Email" value="Email"
           onfocus="this.value = '';" onblur="if (this.value == '')
           {this.value = 'Email';}" required="">
          <input type="text" name="Telephone" value="Telephone"
            onfocus="this.value = '';" onblur="if (this.value == '')
            {this.value = 'Telephone';}" required="">
          <textarea name="message" onfocus="this.value = '';"
            onblur="if (this.value == '') {this.value = 'Message...';}"
            required="">Message...</textarea>
          <input type="submit" value="Submit" >
        </form>
      </div>
      <div class="clearfix"> </div>
    </div>

    <div class="contact-bottom"><div class="gmap_canvas">
      <iframe width="600" height="500" id="gmap_canvas"
        src="https://maps.google.com/maps?q=Da%20nang&t=&z=13&ie=
        UTF8&iwloc=&output=embed"  frameborder="0"
        scrolling="no" marginheight="0" marginwidth="0">
      </iframe>
      <a href="https://www.pureblack.de/webdesign/"></a></div>
      <style>.mapouter{text-align:right;height:500px;
        width:600px;}.
      gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}
      </style>
    </div>
  </div>
</div>
