<% rank = product.average_rank %>
<% if rank >= 1 %>
  <span class="fa fa-star fachecked fa_average_rank_product"></span>
<% else %>
  <span class="fa fa-star fa_average_rank_product"></span>
<% end %>

<% if rank >= 2 %>
  <span class="fa fa-star fachecked fa_average_rank_product"></span>
<% else %>
  <span class="fa fa-star fa_average_rank_product"></span>
<% end %>

<% if rank >= 3 %>
  <span class="fa fa-star fachecked fa_average_rank_product"></span>
<% else %>
  <span class="fa fa-star fa_average_rank_product"></span>
<% end %>

<% if rank >= 4 %>
  <span class="fa fa-star fachecked fa_average_rank_product"></span>
<% else %>
  <span class="fa fa-star fa_average_rank_product"></span>
<% end %>

<% if rank == 5 %>
  <span class="fa fa-star fachecked fa_average_rank_product"></span>
<% else %>
  <span class="fa fa-star fa_average_rank_product"></span>
<% end %>

