<div class="breadcrumb_dress">
  <div class="container">
    <ul>
      <li><a href="/"><span class="fa fa-home"
        aria-hidden="true"></span>
        <%= t("layouts.product.breadcum.home") %>
      </a> <i>/</i></li>
    <li><%= title %></li>
    </ul>
  </div>
</div>
