<span class="fa fa-star fa_star_filter" id="1_filter_rank"></span>
<span class="fa fa-star fa_star_filter" id="2_filter_rank"></span>
<span class="fa fa-star fa_star_filter" id="3_filter_rank"></span>
<span class="fa fa-star fa_star_filter" id="4_filter_rank"></span>
<span class="fa fa-star fa_star_filter" id="5_filter_rank"></span>
<br><br>

<button class="btn btn-warning all_rank_filter">All Ranking</button>
