<div class="banner-bottom1">
  <div class="agileinfo_banner_bottom1_grids">
    <div class="col-md-7 agileinfo_banner_bottom1_grid_left">
      <h3><%= t("layouts.home.banner.bottom1.opening") %><span>
        20% <i>Discount</i></span>
      </h3>
        <%= link_to t("layouts.home.banner.bottom1.shop"), product_index_path %>
    </div>
    <div class="col-md-5 agileinfo_banner_bottom1_grid_right">
      <h4><%= t("layouts.home.banner.bottom1.deal") %></h4>
      <div class="timer_wrap">
        <div id="counter"> </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
