<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
  <div class="facts">
    <div class="register">
      <h3><b><%= t("layouts.user_login.logoutform.title") %></b></h3>
      <%= button_to t("layouts.user_login.logoutform.button.yeslog"),
        logout_path, method: :delete %>
      <%= button_to t("layouts.user_login.logoutform.button.nolog"),
        root_path, method: :get %>
    </div>
  </div>
</div>
