/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree ../../../vendor/assets/stylesheets/
 *= require_tree .
 *= require_self
 */

/* body */
a{
  cursor: pointer;
}
/* Modal Login */
.border_right_modal{
  border-right: 1px dotted #C2C2C2;
  padding-right: 3em;
}

.banner8 h2 {
  font-size: 40px;
  margin-left: 5%;
}

.banner8 h2 span{
  color:black;
}

/* Remember Me CheckBox */
.remember{
  margin-top: 5%;
  font-size: 14px;
  margin-left: 5%;
  input{
    width: 60px;
    heigth: 60px;
  }
}

/* horizontalTab Modal-Login */
#horizontalTab{
  display: block;
  width: 100%;
  margin: 0px;
}

/* errorsform Modal-Login */
.errorsform{
  color:red;
  font-size: 14px;
  font-weight:600;
}

/* Avatar Picture */
.avatar_picture{
  img{
    width:100%;
    height:220px;
  }
}

/* Product Images */
.product-images{
  img{
    width: 100%;
    height: 100%;
  }
}

.pagination-nav{
  margin-top: 10%;
  margin-left: 10%;
}

.img-cart-product{
  height: 50%;
}

/* Cart Table */
.invert-image{
  width:50%;
  height: 70%;
}

.invert-quantity{
  width: 15%;
}

/* --- fillter */

.range-slider {
    padding-top: 3.5em;
    position: relative;
    text-align: center;
}
.range-slider::before, .range-slider::after {
  content: " ";
  display: table;
}
.range-slider::after {
  clear: both;
}

.range-slider .track {
  bottom: 15px;
  height: 6px;
  left: 0;
  margin-bottom: -3px;
  position: absolute;
  width: 0;
  z-index: 50;
  border-radius: 15px;
}

.range-slider .track--full {
  background: #cccccc;
  width: 100%;
}
.range-slider .track--included {
  background: #f26522;
  border-radius: 3px;
}
.range-slider .slider-thumb {
    background: #463a3e;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    display: inline-block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
    z-index: 101;
}

.range-slider [type=range] {
    -webkit-appearance: media-slider;
    background: none;
    height: 25px;
    margin: 0;
    outline: none;
    padding: 0;
    pointer-events: none;
    position: relative;
    width: 100%;
    z-index: 75;
}

.range-slider [type=range]:focus {
  outline: none;
}
.range-slider [type=range]::-moz-focus-outer {
  border: 0;
}
.range-slider [type=range]:first-of-type {
  float: left;
  margin-bottom: -30px;
}

.range-slider [type=range]:last-of-type {
  float: right;
  margin-bottom: 0;
}
.range-slider [type=range]::-webkit-slider-runnable-track {
  background: none;
  border: 0;
  height: 6px;
  z-index: -1;
}
.range-slider [type=range]::-ms-fill-lower {
  background: none;
  border: 0;
}
.range-slider [type=range]::-ms-fill-upper {
  background: none;
  border: 0;
}
.range-slider [type=range]::-ms-track {
  background: transparent;
  border: 0;
  border-color: transparent;
  color: transparent;
  height: 6px;
  z-index: -1;
}
.range-slider [type=range]:focus::-ms-fill-lower {
  background: none;
  border: 0;
}
.range-slider [type=range]:focus::-ms-fill-upper {
  background: none;
  border: 0;
}
.range-slider [type=range]::-moz-range-track {
  -moz-appearance: none;
  background: none;
  border: 0;
  height: 6px;
  z-index: -1;
}
.range-slider [type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #555;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin-top: -12px;
  outline: 0;
  pointer-events: all;
  position: relative;
  width: 30px;
  z-index: 100;
}


.range-slider [type=range]::-ms-thumb {
  background: #555;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin-top: 0;
  pointer-events: all;
  position: relative;
  width: 30px;
  z-index: 100;
}


.range-slider [type=range]::-moz-range-thumb {
  -moz-appearance: none;
  background: #555;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin-top: -12px;
  pointer-events: all;
  position: relative;
  width: 30px;
  z-index: 100;
}

.range-slider .output,
.range-slider output {
    background: none;
    border: none;
    border-radius: 4px;
    color: #777777;
    font-weight: bold;
    display: inline-block;
    height: 2.5em;
    font-size: 15px;
    left: 50%;
    line-height: 2.5em;
    padding: 0 0.75em;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translate(-50%, 0);
}

.fillter {
    span.left {
        color: #bebdbd;
        text-align: left;
        display: inline-block;
        padding-top: 12px;
    }
    span.right {
        color: #bebdbd;
        float: right;
        padding-top: 12px;
    }
}

/* --- fillter ------ */

/* Order */
.order-btn{
  &:hover{
    background: black;
    color: white;
  }
  cursor: pointer;
  h4:hover{
    background: black;
    color: white;
  }
}

.modal-order-content{
  width: 70%;
  height: auto;
}

.close-modal-order{
  margin-left: 96%;
  margin-top: 2%;
  font-size: 20px;
  color:black;
  font-weight: 600;
}

.order-form{
  padding: 5%;
  width: 70%;
}

.notification-order{
  color: red;
}

.accept_error_form{
  position: fixed;
  top: 30%;
  left: 10%;
  width: 50%;
  heigth: auto;
  background: black;
  color: white;
  padding: 5%;
  font-size: 15px;
  span{
    color: red;
    font-size: 20px;
  }
}

.listmodal{
  padding: 10%;
}

/* Rating */
.fachecked{
  color: orange;
}

.fa{
  cursor: pointer;
}

.fa_star_filter{
  margin-left: 9%;
}

/* Modal Admin */
.modal-backdrop.fade, .modal-backdrop.fade.in {
  opacity: 0 !important;
  z-index: -1 !important;
}

.badge{
  margin-left: 10%;
}

.modal_admin_product_orders_detail{
  width: 45%;
  background: black;
  font-size: 14px;
  text-transform: uppercase;
  padding: 3%;
  color: white;
  float: left;
  margin: 2%;
}

.btn-group>.btn:first-child{
  margin-left: 0;
  width: 60px;
  font-size: 12px;
  padding: 6%;
}

.pointer{
  cursor: pointer;
}

.box_product_category{
  width: 90%;
  height: auto;
  border: 1px solid black;
  overflow:auto;
}

.category_product_card{
  width: 25%;
  border-radius: 45px;
  font-size: 12px;
  margin: 1%;
  height: auto;
  float:left;
  color: white;
  background: black;
  padding: 2%;
}

.category_product_card_destroy{
  float:right;
  cursor: pointer;
}

.success-form-category-update span{
  color: green;
}

.success-form-product-update span{
  color: green;
}
