<div class="team-bottom">
    <div class="container">
        <h3>Are You Ready For Awesomeness? Flat
          <span>50% Offer</span> For Women's
        </h3>
        <p>
          Itaque earum rerum hic tenetur a sapiente delectus
        </p>
        <%= link_to "Shop Now", product_index_path %>
    </div>
</div>
