<div class="breadcrumb_dress">
  <div class="container">
      <ul>
          <li><a href="/"><span class="fa fa-home"
              aria-hidden="true"></span>
              <%= t("layouts.about.breadcumb.home") %>
            </a> <i>/</i></li>
          <li><%= t("layouts.about.breadcumb.about") %></li>
      </ul>
  </div>
</div>
